{% extends "layout.html" %}

{% block content %}
	<h4 style="text-align: justify;
  		text-justify: inter-word;"> 
The COVID-19 pandemic has infected over 65,000 people and claimed 2,206 lives in the India.
In response to the COVID-19 Pandemic, the COVID-19 Community Help is providing a centralized location for volunteers to sign up to help in your community and also who are worst affected by the pandemic. You can login as personal or reference member, post the required needs of the people and help will reach out. </h4>
{% endblock content%}